<div class="modal-header">
  <h5 class="modal-title">ကုန်သည်လွှဲငွေအသစ် သိမ်းဆည်းပါ။</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<form [formGroup]="customerPaymentForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="mb-3">
      <label for="paymentDate" class="form-label">ရက်စွဲ</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="paymentDate"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="paymentDate"
          [ngClass]="{
            'is-invalid': paymentDate.invalid && paymentDate.touched
          }"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="d.toggle()"
          type="button"
        ></button>

        <div
          *ngIf="paymentDate.invalid && paymentDate.touched"
          id="paymentDate"
          class="invalid-feedback"
        >
          <small *ngIf="paymentDate.hasError('required')">
            ရက်စွဲဖြည့်ရန်လိုအပ်ပါတယ်။
          </small>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="customerId" class="form-label">ကုန်သည်နာမည်</label>
      <ng-select
        id="customerId"
        [loading]="(customerService.dropdownLoading$ | async) ?? false"
        [items]="dropdownCustomers$ | async"
        [bindLabel]="'fullName'"
        [bindValue]="'id'"
        placeholder="ကုန်သည်အမည်ကို ရွေးပါ။"
        [typeahead]="customerService.dropdownSearch$"
        formControlName="customerId"
        [ngClass]="{
          'is-invalid': customerId.invalid && customerId.touched
        }"
        (change)="onSelectCustomer($event)"
        [readonly]="!!editCustomerPayment"
        autofocus
      >
      </ng-select>
      <div
        *ngIf="customerId.invalid && customerId.touched"
        id="customerId"
        class="invalid-feedback"
      >
        <small *ngIf="customerId.hasError('required')">
          ကုန်သည်အမည်ရွေးရန်လိုအပ်ပါတယ်။
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="remainingAmount" class="form-label">လက်ကျန်ငွေ</label>
      <input
        class="form-control"
        type="text"
        id="paidAmount"
        [value]="remainingAmount | number"
        readonly
      />
    </div>

    <div class="mb-3">
      <label for="paidAmount" class="form-label">ပေးဆောင်သောပမာဏ</label>
      <input
        class="form-control"
        type="number"
        id="paidAmount"
        name="paidAmount"
        formControlName="paidAmount"
        placeholder="ပေးဆောင်သောပမာဏထည့်သွင်းပါ။"
        [ngClass]="{
          'is-invalid': paidAmount.invalid && paidAmount.touched
        }"
      />
      <div id="paidAmount" class="form-text">
        ကျန်ငွေ ({{
          remainingAmount -
            (editCustomerPayment
              ? paidAmount.value - editCustomerPayment.paidAmount
              : paidAmount.value) | number : "1.0-0"
        }})
      </div>
      <div
        *ngIf="paidAmount.invalid && paidAmount.touched"
        id="paidAmount"
        class="invalid-feedback"
      >
        <small *ngIf="paidAmount.hasError('required')">
          ပေးဆောင်သောပမာဏထည်းသွင်းရန်လိုအပ်ပါသည်။
        </small>
        <small *ngIf="paidAmount.hasError('min')">
          ပေးဆောင်သောပမာဏသည် 0 ထက် ကြီးသည် သို့မဟုတ် ညီရမည်။
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="paidBy" class="form-label">ပေးဆောင်ပုံ</label>
      <ng-select
        id="paidBy"
        formControlName="paidBy"
        [items]="paidTypes"
      ></ng-select>
      <div
        *ngIf="paidBy.invalid && paidBy.touched"
        id="paidBy"
        class="invalid-feedback"
      >
        <small *ngIf="paidBy.hasError('required')">
          ပေးဆောင်ပုံထည်းသွင်းရန်လိုအပ်ပါသည်။
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="transactionNo" class="form-label">ငွေလွှဲနံပါတ်</label>
      <input
        class="form-control"
        type="text"
        id="transactionNo"
        formControlName="transactionNo"
        placeholder="ငွေလွှဲနံပါတ်ထည့်သွင်းပါ။"
        [ngClass]="{
          'is-invalid': transactionNo.invalid && transactionNo.touched
        }"
      />
      <div
        *ngIf="transactionNo.invalid && transactionNo.touched"
        id="transactionNo"
        class="invalid-feedback"
      >
        <small *ngIf="transactionNo.hasError('required')">
          ငွေလွှဲနံပါတ်အပ်ပါသည်။
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="financialStatementId" class="form-label"
        >နှစ်ချုပ်စာရင်း</label
      >
      <ng-select
        id="financialStatementId"
        [loading]="
          (financialStatementService.dropdownLoading$ | async) ?? false
        "
        [items]="dropdownFinancialStatement$ | async"
        [bindLabel]="'financialPeriod'"
        [bindValue]="'id'"
        placeholder="နှစ်ချုပ်စာရင်းရှိပါက ရွေးပါ။"
        formControlName="financialStatementId"
        [readonly]="!!editCustomerPayment"
        [readonly]="!!editCustomerPayment"
      >
        <ng-template ng-option-tmp let-item="item">
          {{ item.financialPeriod }} <br />
          <small>{{ item.remark }}</small>
        </ng-template>
      </ng-select>
    </div>
  </div>

  {{ customerPaymentForm.value | json }}

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.dismiss('Cross click')"
    >
      ပိတ်မည်။
    </button>
    <button
      *ngIf="!(customerPaymentService.createLoading$ | async)"
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="customerPaymentForm.invalid"
    >
      သိမ်းဆည်းမည်။
    </button>
    <button
      *ngIf="customerPaymentService.createLoading$ | async"
      class="btn btn-primary"
      type="button"
      disabled
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      လုပ်ဆောင်နေသည်
    </button>
  </div>
</form>
