<div class="card p-3">
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="ရှာဖွေရန်...."
          [(ngModel)]="customerService.searchList"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>

    <div class="col-md-3 offset-md-6">
      <button
        type="button"
        class="btn btn-primary float-end"
        (click)="openCreateCustomer()"
      >
        ကုန်သည်နာမည်အသစ်ဖန်တီးရန်
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="fullName" (sort)="onSort($event)">
            ကုန်သည်နာမည်
          </th>
          <th scope="col" sortable="phoneNo" (sort)="onSort($event)">
            ဖုန်းနံပါတ်
          </th>
          <th scope="col" sortable="address" (sort)="onSort($event)">လိပ်စာ</th>
          <th scope="col">ကော်မရှင် (ရာခိုင်နှုန်း)</th>
          <th scope="col">လုပ်ဆောင်ချက်</th>
        </tr>
      </thead>

      <ng-container
        *ngIf="!(customerService.listLoading$ | async); else loading"
      >
        <tbody *ngIf="customers$ | async as customers">
          <ng-container *ngIf="customers.length > 0; else noData">
            <tr *ngFor="let customer of customers; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a
                  class="link-dark link-underline link-underline-opacity-0"
                  [routerLink]="['/customer', customer.id]"
                  [fragment]="'လွှဲငွေ'"
                  >{{ customer.fullName }}</a
                >
              </td>
              <td>{{ customer.phoneNo || "-" }}</td>
              <td>{{ customer.address || "-" }}</td>
              <td>{{ customer.commission | number:'1.1-2' }}</td>
              <td>
                <button
                  type="button me-2"
                  class="btn btn-outline-secondary btn-sm me-1"
                  (click)="openEditCustomer(customer)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  type="button "
                  class="btn btn-outline-danger btn-sm me-1"
                  (click)="deleteCustomer(customer.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <button
                  type="button "
                  class="btn btn-outline-success btn-sm me-1"
                  [routerLink]="['/customer', customer.id]"
                  [fragment]="'လွှဲငွေ'"
                >
                  <i class="bi bi-file-earmark-text"></i>
                </button>
              </td>
            </tr>
          </ng-container>

          <ng-template #noData>
            <tr emptyRow></tr>
          </ng-template>
        </tbody>
      </ng-container>

      <ng-template #loading>
        <tbody loadingRow></tbody>
      </ng-template>
    </table>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="customerService.page"
      [pageSize]="customerService.limit"
      [maxSize]="5"
    >
    </ngb-pagination>

    <ng-select
      style="width: auto"
      name="limit"
      [items]="limitOptions"
      [bindLabel]="'label'"
      [bindValue]="'value'"
      [clearable]="false"
      [(ngModel)]="customerService.limit"
    >
    </ng-select>
  </div>
</div>
