<div class="row mb-3">
  <div class="col-md-3">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="search"
        placeholder="ရှာဖွေရန်...."
        [(ngModel)]="invoiceService.searchList"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>

  <div class="col-md-3">
    <div class="mb-3">
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <input
            name="datepicker"
            class="form- control"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="invoiceService.onDateSelection($event)"
            [displayMonths]="2"
            [dayTemplate]="t"
            outsideDays="hidden"
            [startDate]="dateRangeService.fromDate!"
            tabindex="-1"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="dateRangeService.isRange(date)"
              [class.faded]="
                dateRangeService.isHovered(date) ||
                dateRangeService.isInside(date)
              "
              (mouseenter)="dateRangeService.hoveredDate = date"
              (mouseleave)="dateRangeService.hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="input-group">
        <input
          #dpFromDate
          class="form-control"
          placeholder="ရက်စွဲအပိုင်းအခြားကို ရွေးပါ..."
          name="dpFromDate"
          [value]="
            dateRangeService.formatter.format(dateRangeService.fromDate) +
            ' မှ ' +
            dateRangeService.formatter.format(dateRangeService.toDate)
          "
          [disabled]="true"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="datepicker.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="d-flex flex-column flex-md-row justify-content-end">
      <button
        class="btn btn-light mb-3 mx-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#totalAmount"
        aria-expanded="false"
        aria-controls="totalAmount"
      >
        စုစုပေါင်းစာရင်းကြည့်ရန်
      </button>

      <button
        class="btn btn-success mb-3 mx-2"
        type="button"
        (click)="invoiceService.exportInvoice()"
      >
        စာရင်းသိမ်းမည်။
      </button>

      <button
        type="button"
        class="btn btn-primary mb-3 mx-2"
        (click)="openCreateInvoice()"
      >
        နယ်ပို့စာရင်းအသစ်ဖန်တီးရန်
      </button>
    </div>
  </div>
</div>

<div class="collapse" id="totalAmount">
  <div
    class="d-flex flex-column flex-md-row justify-content-end justify-content-between"
    *ngIf="totalAmount$ | async as totalAmount"
  >
    <div class="mb-3 d-flex justify-content-between">
      <b class="me-1">စုစုပေါင်းသင့်ငွေ : </b>
      <strong>{{ totalAmount.totalInvoiceAmount | number }}</strong>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="invoiceDate" (sort)="onSort($event)">
          ရက်စွဲ
        </th>
        <th scope="col" sortable="customer.fullName" (sort)="onSort($event)">
          ကုန်သည်အမည်
        </th>
        <th scope="col">သင့်ငွေ</th>
        <th scope="col">လုပ်ဆောင်ချက်</th>
      </tr>
    </thead>

    <ng-container *ngIf="!(invoiceService.listLoading$ | async); else loading">
      <tbody *ngIf="invoices$ | async as invoices">
        <ng-container *ngIf="invoices.length > 0; else noInvoiceData">
          <ng-container *ngFor="let invoice of invoices; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ invoice.invoiceDate | date : "YYYY-MM-dd" }}</td>
              <td>
                <a
                  class="link-dark link-underline link-underline-opacity-0"
                  [routerLink]="['/customer', invoice.customer?.id]"
                  [fragment]="'လွှဲငွေ'"
                  >{{ invoice.customer?.fullName }}</a
                >
              </td>
              <td>
                {{ invoice.totalAmount | number }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm me-1"
                  (click)="openEditInvoice(invoice)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm me-1"
                  (click)="deleteInvoice(invoice.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm me-1"
                  (click)="toggleDetails(i)"
                >
                  <i
                    class="bi"
                    [ngClass]="!isDetailsOpen[i] ? 'bi-eye-slash' : 'bi-eye'"
                  ></i>
                </button>
              </td>
            </tr>

            <tr *ngIf="isDetailsOpen[i]">
              <td colspan="100%">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="row">#</th>
                      <th colspan="2">ပွဲရုံအမည်</th>
                      <th colspan="2">ငါးအမည်</th>
                      <th>အရေအတွက်</th>
                      <th>အလေးချိန်</th>
                      <th>စျေးနှုန်း</th>
                      <th>အလုပ်သမားခ</th>
                      <th>အထွေထွေခ</th>
                      <th colspan="100%">စုစုပေါင်းတန်ဖိုး</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="invoice.invoiceDetails; else noInvoiceDetailData"
                    >
                      <ng-container
                        *ngFor="
                          let invoiceDetail of invoice.invoiceDetails;
                          let i = index
                        "
                      >
                        <tr class="collapse-row">
                          <td scope="row">#</td>
                          <td colspan="2">
                            <a
                              class="link-dark link-underline link-underline-opacity-0"
                              [routerLink]="[
                                '/vendor',
                                invoiceDetail.vendor?.id
                              ]"
                              [fragment]="'သွင်းငွေ'"
                              >{{ invoiceDetail.vendor?.vendorName }}</a
                            >
                          </td>
                          <td colspan="2">
                            {{ invoiceDetail.item?.itemName }}
                          </td>
                          <td>{{ invoiceDetail.qty | number }}</td>
                          <td>{{ invoiceDetail.weight }}</td>
                          <td>{{ invoiceDetail.unitPrice | number }}</td>
                          <td>{{ invoiceDetail.laborFee }}</td>
                          <td>{{ invoiceDetail.generalFee }}</td>
                          <td colspan="100%">
                            {{ invoiceDetail.totalPrice | number }}
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>

                    <ng-template #noInvoiceDetailData>
                      <tr emptyRow></tr>
                    </ng-template>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-template #noInvoiceData>
          <tr emptyRow></tr>
        </ng-template>
      </tbody>
    </ng-container>

    <ng-template #loading>
      <tbody loadingRow></tbody>
    </ng-template>
  </table>
</div>

<div class="d-flex flex-column flex-md-row justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="invoiceService.page"
    [pageSize]="invoiceService.limit"
    [maxSize]="5"
  >
  </ngb-pagination>

  <ng-select
    style="width: auto"
    name="limit"
    [items]="limitOptions"
    [bindLabel]="'label'"
    [bindValue]="'value'"
    [clearable]="false"
    [(ngModel)]="invoiceService.limit"
  >
  </ng-select>
</div>
