<ng-template #popTitle
  ><small>ငွေရှင်းပီးပါက ခလုတ်ဖွင့်ထားပါ။</small></ng-template
>
<ng-template #popContent>
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="isBillCleared"
      [ngModel]="invoiceDetail.isBillCleared"
      (click)="onBillClear(invoiceDetail)"
      (click)="p.close()"
    />
  </div>
</ng-template>
<button
  type="button"
  class="btn btn-sm me-1"
  [ngClass]="
    invoiceDetail.isBillCleared
      ? 'btn-outline-primary'
      : 'btn-outline-secondary'
  "
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  [autoClose]="false"
  placement="start"
  triggers="manual"
  #p="ngbPopover"
  (click)="p.open()"
>
  ရှင်း
</button>
