<div class="card mb-3">
  <div class="card-body">
    <h6 class="card-title fw-bold mb-3">ရှာဖွေမှုပုံစံ</h6>
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="search"
            placeholder="ရှာဖွေရန်...."
            [(ngModel)]="storeDetailService.searchList"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="mb-3">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="storeDetailService.onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="dateRangeService.fromDate!"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="dateRangeService.isRange(date)"
                  [class.faded]="
                    dateRangeService.isHovered(date) ||
                    dateRangeService.isInside(date)
                  "
                  (mouseenter)="dateRangeService.hoveredDate = date"
                  (mouseleave)="dateRangeService.hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="ရက်စွဲအပိုင်းအခြားကို ရွေးပါ..."
              name="dpFromDate"
              [value]="
                dateRangeService.formatter.format(dateRangeService.fromDate) +
                ' မှ ' +
                dateRangeService.formatter.format(dateRangeService.toDate)
              "
              [disabled]="true"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="datepicker.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-column flex-md-row justify-content-end">
          <button
            class="btn btn-success mb-3 mx-2"
            type="button"
            (click)="storeDetailService.exportStoreDetail()"
          >
            စာရင်းသိမ်းမည်။
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="store$ | async as store; else loading" class="card p-3 mb-3">
  <div class="row mt-3">
    <div class="col-md-6 mb-5 text-center">
      <h2 class="fw-bold mb-2">{{ store.storeName }}</h2>
      <span class="text-secondary ps-2">(သိုလှောင်ရုံ)</span>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-6 mb-3">
          ဖုန်းနံပါတ် <span class="float-end">:</span>
        </div>
        <div class="col-6 mb-3">
          <b>{{ store.phoneNo || "-" }}</b>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mb-3">လိပ်စာ <span class="float-end">:</span></div>
        <div class="col-6 mb-3">
          <b>{{ store.address || "-" }}</b>
        </div>
      </div>

      <ng-container *ngIf="storeUsage$ | async as storeUsage">
        <div class="row">
          <div class="col-6 mb-3">
            အရေအတွက် / အလေးချိန် (သွင်း) <span class="float-end">:</span>
          </div>
          <div class="col-6 mb-3">
            <b>
              {{ storeUsage.totalQtyIn || 0 | number }} /
              {{ storeUsage.totalWeightIn || 0 | number : "1.1-2" }}
            </b>
          </div>
        </div>

        <div class="row">
          <div class="col-6 mb-3">
            အရေအတွက် / အလေးချိန် (ထုတ်) <span class="float-end">:</span>
          </div>
          <div class="col-6 mb-3">
            <b>
              {{ storeUsage.totalQtyOut || 0 | number }} /
              {{ storeUsage.totalWeightOut || 0 | number : "1.1-2" }}
            </b>
          </div>
        </div>

        <div class="row">
          <div class="col-6 mb-3">
            အရေအတွက် / အလေးချိန် (ကျန်) <span class="float-end">:</span>
          </div>
          <div class="col-6 mb-3">
            <b>
              {{ storeUsage.totalQtyIn - storeUsage.totalQtyOut | number }} /
              {{
                storeUsage.totalWeightIn - storeUsage.totalWeightOut | number
              }}
            </b>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="card p-3">
  <div
    ngbNav
    #nav="ngbNav"
    [activeId]="activeFragment$ | async"
    class="nav-pills nav-fill mb-3"
  >
    <ng-container [ngbNavItem]="'လှောင်ကုန်'">
      <button ngbNavLink routerLink="." [fragment]="'လှောင်ကုန်'">
        လှောင်ကုန်စာရင်းများ
      </button>
      <ng-template ngbNavContent>
        <app-store-stock-item></app-store-stock-item>
      </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="'ကျန်ကုန်'">
      <button ngbNavLink routerLink="." [fragment]="'ကျန်ကုန်'">
        ကျန်ရှိသောကုန်
      </button>
      <ng-template ngbNavContent>
        <app-store-item></app-store-item>
      </ng-template>
    </ng-container>
  </div>
  <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #loading>
  <app-loading-center></app-loading-center>
</ng-template>
